*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-style{
    width: 100%;
    height: 150px;
    background-image: url(/img/wall.png);
}

main{
    background-image: url(/img/cork.png);
}


h1{
    font-size: 70px !important;
}

img{
  width: 90%;
  height: 90%;
  object-fit: contain;
}